body {
    background-color: #e0eafc;
    display: flex;
    justify-content: top;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    height: 100vh; 
}   


/* img {
    width: 700px;
    height: 700px;
    border: 1px dashed black;
    background-position: center;
    background-size: absolute;
    object-fit: absolute; 

} */